

h1, ul, li, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol, li {
    font-size: 18px;
}
.intro{
    margin-left: 300px;
    margin-bottom: 20px;
    width: 250px;
    height: 100px;
    padding: 10px;
    border: 10px rgb(68, 68, 68);
    background-color: rgb(214, 214, 214);
}
.bananas{
    background-color: #fff3d7;
    padding: 50px;
    margin-top: 100px;
}
.shimp{
    background-color: rgb(255, 198, 255);
    padding: 50px;
}
body{
    margin-left: 750px;
    margin-right: 750px;
} 