h1,
ul,
li,
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, p, ul, ol {
    text-align: center;
}

img{ 
    display: block;
    margin: 0 auto;
}
    
ul {
    list-style-position: inside;
    text-align: center;
}
li {
    list-style-position: inside;
    text-align: center;
}
ul, ol{
font-size: 15px;
    
}